
@{
    ViewBag.Title = "Import";
}

<h2>Import</h2>

@using (Html.BeginForm("Import", "Employees", FormMethod.Post,
      new { enctype = "multipart/form-data" }))
{
    @Html.Raw(ViewBag.Error)
    <span> Excel File </span>
    <input type="file" name="excelfile" />
    <br />
    <br />
    <input type="submit" value="Import" />
}